body{
    height: 100vh;
    width:100vw;
    overflow: hidden;
}
.ble{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}
.ble p{
    width: 500px;
    padding:10px;
    text-align: center;
    border-radius: 20px;
    font-family:K2D;
    font-size: large;
    color:white;
}
.ble>button{
    font-size: medium;
    padding:2px 10px;
}

.tch{
    font-family: K2D;
    font-size: large;
    width:500px;
    border: 2px solid grey;
    border-radius: 20px;
    padding:10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin:10px;
}

.tch p{
    width:300px;
    text-align: center;
    border: 1px solid grey;
    border-radius: 15px;
}
.song{
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
    background-color: aliceblue;
    width: max-content;
    margin: auto;
}

.tchctc{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: larger;
    font-size: x-large;
}

.later>*:not(:first-child) {
    opacity:0.2;
}
.touch{
    position: absolute;
    top:50%;
    font-size: larger;
    font-weight: bolder;
    color:white;
    background-color: blue;
}


.evhd{
    background-color: darkblue;
    color:white;
    font-size: x-large;
    border-radius: 20px;
    padding:5px 20px;
    text-align: center;
    margin: 0px auto;
    width: 150px;
    font-family: K2D;
}

.evt{
    font-family: sans-serif;
    text-align: center;
    border-collapse: collapse;
    margin: 30px;
    display: flex;
    flex-direction: column-reverse;
    overflow: scroll;
}
td,th{
    padding:10px;
    border: 2px solid grey;
    width:max-content;
    min-width: 300px;
}

.msgd{
    height:80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:30px;
}

.dbt{
    text-decoration: none;
    color:white;
    background-color: rgb(52, 150, 6);
    border-radius: 20px;
    font-family: K2D;
    padding:10px 20px;
    font-size: large;
    position: absolute;
    bottom: 30px;
    left:50% ;
    transform: translateX(-50%);
    right:50%;
    width: max-content;
}

.seln{
    text-decoration: none;
    color: white;
    background-color: green;
    padding:20px;
    border-radius: 20px;
    position:absolute;
    bottom:10px;
    left:50%;
    transform: translateX(-50%);
}

.topbar{
background-color: darkslateblue;
height:50px;
width:100%;
margin:1px -5px ;
border-radius: 10px;
display: flex;
align-items: center;
justify-content: space-evenly;
}

.topbar>a{
    color: white;
    font-family: K2D;
    text-decoration: none;
    font-size: large;
}

.topbar>a:hover{
    color: black;
   background-color: white;
   padding:10px;
   border-radius: 10px;
   transition: 500ms;
}

.apbr{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 25px;
    width:100vw;
    margin-left: -5px;  
    margin-top: -5px;
}

.apbr>a{
    color:white;
    text-decoration: none;
    font-size: large;
    margin:10px;
}

.adevc{
    display:flex;
    gap:20px;
    align-items: center;
    justify-content: space-around;
    width:80%;
    margin:5px auto;
    height:max-content;
}

.avadev{
    background-color: white;
    font-size: medium;
    width:50%;
    padding:5px;
    max-height: 500px;
    overflow-y: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;
    border-radius: 10px;
    border:1px solid grey;
}
.afm{
    min-height: 400px;
    background-color: grey;
    padding:10px;
}
.afm,.afm>form{
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.afm>form>input,.afm>form>select{
    border:1px solid grey;
    height:30px;
    border-radius:10px;
    width:250px;
    margin:10px;
    padding:3px 10px;
}


.dbtn>button{
    background-color: green;
    color:white;
    font-size: medium;
border-radius: 3px;
/* border:2px solid green; */
}

.cmet,.backbtn{
    text-decoration: none;
font-size: larger;
font-family: K2D;
color:white;
background-color: darkslateblue;
padding: 3px 10px;
border-radius: 20px;
margin:8px auto;
display:block;
width:fit-content;
text-align: center;
}

.mtrc{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.tm{
    display: flex;
    align-items: center;
    justify-content: flex-start ;
    flex-direction: column;
    /* background-color: grey; */
    border: 2px double black;   
    width:40%;
    height:400px;
    margin:20px;
    border-radius: 20px;
}



.tm>ul {
    list-style: none;
    display: table;
  }
  
.tm>ul>li {
    display: table-row;
    font-size: large;
    font-family: K2D;
  }
  
  .tm>ul>li>span {
    display: table-cell;
    padding-right: 1em;
  }

  .tm>a{
    text-decoration: none;
    color:white;
        background-color: blue;
        padding:10px 20px;
        border-radius: 20px;
        font-size: medium;
        font-family: K2D;
  }

  .ermg{
    text-align: center;
    background-color: rgb(138, 161, 4);
    color:white;
    font-size: larger;
  }