<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SAMSUNG BUDS TESTING</title>
    <link rel="stylesheet" href="{{url_for("static",filename="style.css")}}">
</head>
<body>
    <div class="apbr">
        <a href="" onclick="minimizeApp()">&#128469;&#xFE0E; </a>
        <a href="" onclick="maximizeApp()">&#128471;&#xFE0E; </a>
        <a href="" onclick="closeApp()"> &#128473;&#xFE0E;</a>
    </div>
    <div class="topbar">
        <a href="">HOME</a>
        <a href="">AUDIO QUALITY</a>
        <a href="">RECORD EVENT</a>
    </div>
    <div class="ble" >
        <p style="background-color:{{bgclr}};">BUDS CONNECTION STATUS : {{sts}}</p>
        <form action="{{ url_for('test') }}" method="post">
            <button type="submit">START TESTING</button>
        </form>
    </div>
    
    
</body>


<script src="{{ url_for('static', filename='script.js') }}">
    let connectstate = null;
function checkconnection() {
    fetch('/get_connection_value')
        .then(response => response.json())
        .then(data => {
            const newStatus = data.status;
            if (connectstate === null) {
                connectstate = newStatus;
            } 
            else if (newStatus !== connectstate) {
                window.location.reload();
                console.log("hello");
            }
        })
        .catch(error => console.error('Error:', error));
}

// Poll the server every 5 seconds
setInterval(checkconnection, 5000);

</script>

</html>